   /* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: #1e293b;         
    margin: 0 20px;        
    font-size: 15px;       
    font-weight: 600;       
    letter-spacing: 0.2px;  
    transition: 0.3s;     
}

/* menu color change */
nav a:hover {
    color: #22c55e;        
}


.btn-nav {
    background-color: #529b71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
 
/* Hero Section with Banner */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.btn-nav {
    background-color: #529b71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* Navbar button hover */
.btn-nav:hover {
    background-color: #3d6e52;  
    transform: scale(1.05);      
    transition: 0.3s ease;       
}